@use"../../../foundation/variable" as*;

.p-plan-mv__image {
position: relative;
z-index: 10;

&::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.486);
    z-index: 20;
}
}
.p-plan-mv__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    z-index: 30;
    font-size: 2.5rem;
    line-height: calc(60 / 25);
    font-weight: bold;
    padding-top: 0.8rem;
}
