@use"../../../foundation/variable" as*;

.p-plan-system {
    padding-top: 6.7rem;
}
.p-plan__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.p-plan-system__wrapper {
    margin-top: 4rem;
    margin-inline: auto;
}
.p-plan-system__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.p-plan-system__card {
    background-color: $main-color;
    width: 21rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.p-plan-system__card-title {
    font-size: 2rem;
    line-height:  calc(33 / 20);
    font-weight: bold;
    color: $color-white;
}
.p-plan-system__plus {
    display: block;
    position: relative;
    width: 1.85rem;
    height: 1.85rem;
    flex-shrink: 0;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-black;
    }
    &::before {
        width: 100%;
        height: 0.3rem;
    }
    &::after {
        width: 0.3rem;
        height: 100%;
    }
}
.p-plan-system__text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    margin-top: 4.8rem;
    padding-inline: 7.6rem;

}

@media (max-width: 767px) {
    .p-plan-system__item {
        flex-direction: column;
    }
    .p-plan-system__text {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        padding-inline: 0;
    }
    
}
