.c-breadcrumb {
    background-color: #e8e8e8;
    padding-top: 0.9rem;
    padding-bottom: 0.7rem;
}
.c-breadcrumb__list {
    display: flex;
    gap: 1.8rem;
    padding-left: 8.1rem;
}
.c-breadcrumb__item {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: calc(33 / 16);

    &:not(:last-child)::after {
        content: ">";
        margin-left: 1.8rem;
        font-size: 1.6rem;
        line-height: calc(33 / 16);
    }
    a {
        color: inherit;
        transition: opacity 0.3s ease, text-decoration 0.3s ease;

        &:hover {
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}
@media (max-width: 767px) {
    .c-breadcrumb {
        padding-top: 0.3rem;
        padding-bottom: 0;
    }
    .c-breadcrumb__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 2rem;
        gap: 0;
    }
    .c-breadcrumb__item {
        padding-left: 2rem;
        white-space: nowrap;
    }
    // .c-breadcrumb__item:last-child {
    //     white-space: normal;
    //     flex-basis: 100%;
    // }
    
}