@use"../../foundation/variable" as*;

.c-header-btn {
    background: $main-color;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

        font-size: min(vw(15), 1.5rem);
        line-height: calc(33 / 15);
        width: min(vw(150), 15rem);
        height: min(vw(45), 4.5rem);

        border: solid 1px $main-color;
        transition: background-color 0.4s ease, color 0.4s ease;
      
        &:hover {
            background-color: $color-white;
            color: $main-color;
        }
}

// TOPへ戻るボタン
.c-page-top__link {
    position: fixed;
    bottom: 9.1rem;
    right: 11.6rem;
    width: 6.8rem;
    height: 6.8rem;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    background-color: rgba(0,0,0,0.502);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-show {
        opacity: 1;
        visibility: visible;
    }
    &:hover {
        opacity: 0.7;
    }
    // お問合せボタンがないページでは位置を下げる
    .no-contact-btn & {
        bottom: 3.1rem;
    }
}
.c-page-top {
    width: 3.3rem;
    height: 2.2rem;
}
@media (max-width: 767px) {
    .c-page-top__link {
        right: 2rem;
        bottom: 7.9rem;

        .no-contact-btn & {
            bottom: 1.8rem;
        }
    }
    
}

// お問合せボタン
.c-contact-btn__link {
    position: fixed;
    right: 0;
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
    z-index: 999;
    background-color: $main-color;
    width: 30rem;
    height: 6rem;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    border: 1px solid $main-color;
    transition: opacity 0.4s ease, visibility 0.4s ease, background-color 0.4s ease, color 0.4s ease;

    &.is-show {
        opacity: 1;
        visibility: visible;
    }
    &:hover {
        background-color: $color-white;
        color: $main-color;
    }
}
.c-contact-btn__text {
    font-size: 2rem;
    line-height: calc(33 / 20);
    font-weight: bold;
    letter-spacing: 0.2em;
}

@media (max-width: 767px) {
    .c-contact-btn__link {
        width: clamp(20rem, vw-sp(335), 33.5rem);
        right: 0;
        left: 0;
        margin-inline: auto;
    }
    
}
// 送信・ホームへ戻るボタン
.c-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: $main-color;
    color: $color-white;
    border: solid 1px $main-color;
    transition: background-color 0.4s ease, color 0.4s ease;

    &:hover {
        background-color: $color-white;
        color: $main-color;
    }
}
.c-btn--block {
    height: 5rem;
    width: 25rem;
}
@media (max-width: 767px) {
    .c-btn--block {
        width: 100%;
    }    
}