@use"../../foundation/variable" as*;

.c-global-nav {
    display: flex;
    align-items: center;
    height: 100%;

    nav {
        display: flex;
        align-items: center;
        height: 100%;
        gap: min(vw(33), 3.3rem);

        ul.c-global-nav__list {
            display: flex;
            align-items: center;
            height: 100%;
            gap: min(vw(33), 3.3rem);
            flex-shrink: 0;

            & li {
                height: 100%;
                display: flex;
                align-items: center;

                & a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: min(vw(17), 1.7rem);
                    line-height: calc(33 / 17);
                    font-weight: bold;
                }
            }
        }
    }
}
