@use"../../foundation/variable" as*;

  .c-site-title {
    display: flex;
    align-items: center;
    height: 100%;
    gap: min(vw(9.9), 0.99rem);
  
    h1,
    p {
      height: 100%;
      display: flex;
      align-items: center;
      
      a {
        height: 100%;
        display: flex;
        align-items: center;
        transition: opacity 0.4s ease;

      }
      &:hover {
        opacity: 0.7;
      }
      img {
        width: min(vw(32.03), 3.203rem);
        height: min(vw(49.35), 4.935rem);
      }
    }
  }
.c-site-title__text {
  font-size: min(vw(20), 2rem);
  font-weight: bold;
  line-height: calc(23 / 20);
  margin-left: 0.997rem;

  &--sub {
    font-size: min(vw(15), 1.5rem);
    font-weight: bold;
    line-height: calc(23 / 15);
  }
}
  @media (max-width: 767px) {
    .l-header-inner {
      padding-inline: 2rem;
    }
    .c-site-title {
      h1, p img {
        width: 2.031rem;
        height: 3.129rem;
      }
    }
    .c-site-title__text,
    .c-site-title__text--sub {
      font-size: 1.3rem;
      line-height: calc(14 / 13);
    }
    .c-site-title__text {
      margin-left: 0.632rem;
      padding-top: 0.1rem;
    }
  }

