.c-site-title {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.99rem;

   a {
    height: 100%;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
    img {
      width: 3.203rem;
      height: 4.935rem;
    }
    &__text {
      font-size: 2rem;
      font-weight: bold;
      line-height: calc(23 / 20);
    }
    &__text--sub {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: calc(23 / 15);
    }
  }
  }