@use"../../foundation/variable" as*;

  .c-site-title {
    display: flex;
    align-items: center;
    height: 100%;
    gap: min(vw(9.9), 0.99rem);
  
    h1 {
      height: 100%;
      display: flex;
      align-items: center;
      
      a {
        height: 100%;
        display: flex;
        align-items: center;
        transition: opacity 0.3s ease;

        span {
          &.c-site-title__text {
            font-size: min(vw(20), 2rem);
            font-weight: bold;
            line-height: calc(23 / 20);
    
            &--sub {
              font-size: min(vw(15), 1.5rem);
              font-weight: bold;
              line-height: calc(23 / 15);
            }
          }
        }
        &:hover {
          opacity: 0.7;
        }
        img {
          width: min(vw(32.03), 3.203rem);
          height: min(vw(49.35), 4.935rem);
        }
      }
    }
  }
