@use"../../../foundation/variable" as*;
.p-blog {
    padding-top: 7.045rem;
    padding-bottom: 20.5rem;
}
.p-blog__list {
    margin-top: 3.8rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 26rem));
    justify-content: center;
    column-gap: 5rem;
}
.p-blog__item {
    width: 100%;
}
.p-blog__img-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 260 / 200;

    img {
        height: 100%;
    }
}

.p-blog__category {
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    color: $color-white;
    font-size: 1.5rem;
    line-height: calc(25 / 15);
    font-weight: bold;
}
.p-blog__content {
    margin-top: 2rem;
}
.p-blog__subtitle {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: bold;
}
.p-blog__date {
    display: block;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    text-align: right;
    margin-top: 1.1rem;
}
.p-blog__link {
    margin-top: 3.7rem;
    max-width: 88rem;
    margin-inline: auto;
}
.p-blog__link-text {
    display: block;
    text-align: right;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-decoration: underline;
}

@media (max-width: 767px) {
    .p-blog {
        margin-top: 5rem;
    }
    .p-blog__list {
        margin-top: 3.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4.1rem;
    }
    .p-blog__item {
        width: 100%;
    }
    .p-blog__img-wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 335 / 200;
    }
    .p-blog__category {
        width: 9rem;
    }
    .p-blog__subtitle {
        line-height: calc(30 / 20);
    }
    .p-blog__link-text {
        text-align: center;
    }
}