@use"../../../foundation/variable" as*;
.p-accordion {
   margin-top: 3.8rem;
   max-width: 88rem;
   margin-inline: auto; 
}
.p-accordion__item {
    border-top: 0.05rem solid $color-black;
}
.p-accordion__item:last-child {
    border-bottom: 0.05rem solid $color-black;
}
.p-accordion__question {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    position: relative;
    padding: 1.5rem 0;

}
.p-accordion__icon-q {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $color-black;
    color: $color-white;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(30 / 20);
    margin-right: 1rem;
}
.p-accordion__question::after {
    content: "";
    position: absolute;
    right: 2.9rem;
    top: 50%;
    width: 1.25rem;
    height: 1.25rem;
    border-right: 0.1rem solid $color-black;
    border-bottom: 0.1rem solid $color-black;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s ease;
}
.p-accordion__question-text {
    display: block;
    flex: 1;
    padding-right: 5.5rem;

}
.p-accordion__answer {
    display: none;
}
.p-accordion__answer-inner {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    font-weight: bold;
    color: $main-color;
    background-color: rgba(203 0 0 / 9.8%);
    padding: 1.5rem 0;
}
.p-accordion__icon-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $main-color;
    color: $color-white;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(30 / 20);
    margin-right: 1rem;

}
.p-accordion__item.is-open .p-accordion__question::after {
    transform: translateY(-70%) rotate(225deg);
}
@media (max-width: 767px) {
    .p-accordion__question {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
    .p-accordion__answer-inner {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }

    
}