@use"../../../foundation/variable" as*;

.p-future {
    background-color: $main-color;
    color: $color-white;
    padding-top: 6.8rem;
    padding-bottom: 6rem;
}
.p-future__text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    font-weight: medium;
    text-align: center;
    margin-top: 3rem;
}
