@use"../../../foundation/variable" as*;

.p-future {
    background-color: $main-color;
    color: $color-white;
    padding-top: 6.8rem;
    padding-bottom: 6rem;
}
.p-future__text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-align: center;
    margin-top: 3rem;
}
@media (max-width: 767px) {
    .p-future {
        padding-top: 4.9rem;
        padding-bottom: 4rem;
    }
    .p-future__text {
        margin-top: 1.4rem;
    }
    
}
