@use"../../foundation/variable" as*;

.p-fv {
    position: relative;
    z-index: 10;
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(80, 80, 80, 0.502);
        z-index: 20;
    }

    .p-fv-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        padding-top: min(vw(20), 2rem);
        z-index: 30;

        h2.p-fv-title {
            font-size: min(vw(40), 4rem);
            font-weight: bold;
            line-height: calc(60 / 40);
            color: $color-white;
        }
    }
}



