@use"../../../foundation/variable" as*;
.p-blog-detail {
    padding-top: 7rem;
}
.p-blog-detail__layout {
    max-width: 88.1rem;
    display: flex;
    justify-content: space-between;
    gap: 3.1rem;
    margin-inline: auto;
}
.p-blog-detail__main {
    width: 100%;
    max-width: 60rem;
}
.p-blog-detail__header {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
        font-weight: bold;
        margin-top: 4.6rem;
    }
}
.p-blog-detail__date {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-top: 0.5rem;
}
.p-blog-detail__img-wrapper {
    position: relative;
    order: -1;
    width: 100%;
    aspect-ratio: 600 / 350;
}
.p-blog-detail__img-wrapper img {
    height: 100%;
    object-fit: cover;
}
.p-blog-detail__category {
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 3rem;
    background-color: $main-color;
    font-size: 1.5rem;
    line-height: calc(25 / 15);
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-blog-detail__sns {
    margin-top: 2.1rem;
    // display: flex;
}
.p-blog-detail__sns-list {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.p-blog-detail__sns-item {
    height: 4rem;
}
.p-blog-detail__sns-item a {
    display: inline-block;
    transition: opacity 0.4s ease;

    &:hover {
        opacity: 0.7;
    }
}
.p-blog-detail__sns-item a img {
    height: 100%;
}
.p-blog-detail__body {
    margin-top: 4.8rem;

    p {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
    }

    h2 {
        font-size: 2rem;
        line-height: calc(40 / 20);
        font-weight: bold;
        margin-top: 3.3rem;
    }  
    h3 {
        font-size: 2rem;
        line-height: calc(40 / 20);
        font-weight: bold;
        margin-top: 4.35rem;
        position: relative;
        padding-left: 1rem;

        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            left: 0;
            width: 0.3rem;
            height: calc(100% - 2rem);
            background-color: $color-black;

        }
    }  
}
.p-blog-detail__body h2 + p {
    margin-top: 1.5rem;
}
.p-blog-detail__img {
    margin-top: 1.7rem;
    width: 100%;
    max-width: 33.5rem;   
}
.p-blog-detail__img img {
    aspect-ratio: 335 / 200;
    object-fit: cover;
}
.p-blog-detail__list {
    margin-top: 2.8rem;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    padding-bottom: 4.05rem;
    border-bottom: solid 0.5px $color-black;
}
.p-blog-detail__list li {
    position: relative;
    padding-left: 1.8rem;

}
.p-blog-detail__list li::before {
    content: "・";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.8rem;
    line-height: calc(30 /18);
}
.p-blog-detail__blockquote {
    position: relative;
    margin-top: 1.7rem;
    padding: 1.8rem 3rem 1rem 6.7rem;
    background-color: #e8e8e8;
}
.p-blog-detail__blockquote-icon {
    position: absolute;
    width: 2.704rem;
    height: 2.328rem;
    top: 2rem;
    left: 3rem;
}
.p-blog-detail__text-link {
    margin-top: 2.7rem;
    font-size: 2rem;
    line-height: calc(33 / 20);
    font-weight: bold;
    color: $main-color;
}
.p-blog-detail__text-link a {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: $main-color;
    text-decoration-thickness: 0.1rem;

}
.p-blog-detail__post-nav {
    margin-top: 5.5rem;
    padding-bottom: 9.1rem;
}
.p-blog-detail__post-nav-list {
    display: flex;
    justify-content: space-between;
    gap: calc(79 / 600 * 100%);
}
.p-blog-detail__post-nav-item {
    flex: 1 1 26rem;
    max-width: 26rem;
}
.p-blog-detail__post-nav-link {
    display: block;

    &:hover {
        opacity: 0.7;
    }
}
.p-blog-detail__post-nav-label {
    display: flex;
    align-items: center;
    padding: 0.4rem 2rem 0.3rem;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    background-color: $color-black;
    color: $color-white;
}
.p-blog-detail__post-nav-label--prev{
    justify-content: flex-start;
}
.p-blog-detail__post-nav-label--next {
    justify-content: flex-end;
}
.p-blog-detail__post-nav-body {
    display: flex;
    gap: 1.6rem;
    margin-top: 1.5rem;
}
.p-blog-detail__post-nav-thumb{
    width: 100%;
    max-width: 9.8rem;

    img {
        aspect-ratio: 98 / 68;
    }
}
.p-blog-detail__post-nav-title {
    flex: 1 1 14.7rem;
    min-width: 0;
    overflow: hidden;
    display: block;
    max-height: calc(1.6rem * 1.5625 * 3);
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    font-weight: bold;
}
.p-blog-detail__related {
    padding-bottom: 18.7rem;
}
.p-blog-detail__related-title {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    font-weight: bold;
    background-color: $color-black;
    color: $color-white;
    padding: 0.9rem 3rem 0.8rem;
}
.p-blog-detail__related-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.p-blog-detail__related-link {
    display: flex;
    gap: 3rem;

    &:hover {
        opacity: 0.7;
    }
}
.p-blog-detail__related-thumb {
    display: block;
    width: 100%;
    max-width: 20rem;
    position: relative;

    img {
        aspect-ratio: 200 / 140;
        object-fit: cover;
    }
}
.p-blog-detail__related-category {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main-color;
    color: $color-white;
    font-size: 1.5rem;
    line-height: calc(25 / 15);
    font-weight: bold;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-blog-detail__related-body {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.p-blog-detail__related-subtitle {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: bold;
}
.p-blog-detail__related-date {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    padding-left: 0.4rem;
}
@media (max-width: 767px) {
    .p-blog-detail {
        padding-top: 5rem;
    }
    .p-blog-detail__layout {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .p-blog-detail__main {
        max-width: none;
    }
    .p-blog-detail__header {    
        h1 {
            font-size: 2rem;
            line-height: calc(30 / 20);
            font-weight: bold;
            margin-top: 3rem;
        }
    }
    .p-blog-detail__date {
        margin-top: 0.6rem;
    }
    .p-blog-detail__sns-list {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .p-blog-detail__sns-item {
        width: 100%;
        aspect-ratio: 65 / 40;
        display: flex;
        justify-content: center;
        align-items: center;

        &--facebook {
            background-color: #425893;
        }
        &--twitter {
            background-color: #4A9FEB;
        }
        &--hatena {
            background-color: #4EACD5;
        }
        &--line {
            background-color: #52B534;
        }
        &--pocket {
            background-color: #DC4F5A;
        }
    }
    .p-blog-detail__body {
        margin-top: 2.7rem;
    
        p {
            font-size: 1.6rem;
            line-height: calc(30 / 16);
        }
    
        h2 {
            line-height: calc(30 / 20);
            margin-top: 3.9rem;
        }  
        h3 {
            line-height: calc(30 / 20);
            margin-top: 5rem;
        }  
    }
    .p-blog-detail__body h2 + p {
        margin-top: 1.7rem;
    }
    .p-blog-detail__img-wrapper {
        aspect-ratio: 335 / 200;
    }
    .p-blog-detail__img {
        max-width: none;
        margin-top: 3.9rem;
    }
    .p-blog-detail__sns {
        margin-top: 2.3rem;
    }
    .p-blog-detail__list {
        margin-top: 2.7rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        padding-bottom: 3.85rem;
    }
    .p-blog-detail__blockquote  {
        margin-top: 1.95rem;
        padding: 1.7rem 2rem 1.1rem 7rem;
    }
    .p-blog-detail__post-nav {
        margin-top: 4.5rem;
        padding-bottom: 6.5rem;
    }
    .p-blog-detail__post-nav-list {
        justify-content: flex-start;
        gap: 2.2rem;
    }
    .p-blog-detail__post-nav-item {
        flex: 1 1 calc((100% - 2.2rem) / 2);
        max-width: none;
    }
    .p-blog-detail__related {
        padding-bottom: 3rem;
    }
    .p-blog-detail__related-list {
        margin-top: 2.04rem;
        gap: 2.09rem;
    }
    
    .p-blog-detail__related-title {
        text-align: center;
    }
    .p-blog-detail__related-link {
        display: flex;
        gap: 2rem;
    }
    .p-blog-detail__related-thumb {
        flex: 1 1 calc(160 / 335 * 100%);
        max-width: none;

        img {
            aspect-ratio: 160 / 110;
        }
    }
    .p-blog-detail__related-body {
        flex: 1 1  calc(155 / 335 * 100%);
        gap: 0.39rem;
        padding-top: 0.854rem;
    }
    .p-blog-detail__related-subtitle {
        font-size: 1.7rem;
        line-height: calc(28 / 17);
        max-height: calc((28 / 17) * 2 * 1em);
        overflow: hidden;
    }
    .p-blog-detail__related-date {
        padding-left: 0;
    }
    
    
}

    
